.faq {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 200px;
  }
  
  .faq h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .faqItem {
    margin-bottom: 20px;
  }
  
  .faqItem h3 {
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
  }
  
  .faqItem p {
    margin: 0;
    color: #666;
  }
  
  .faqItem:not(:last-child) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
  }
  
  .faqItem:last-child {
    padding-bottom: 0;
  }
  